<div class="container">
  <br/>
  <div class="container login-container">
    <div class="card" *ngIf="key == 'signin'">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
          <h5 class="text-danger" *ngIf="isError">Email or Password Incorrect</h5>
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" name="username" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" name="password" class="form-control" ngModel />
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
    <div class="card" *ngIf="key == 'signup'">
      <div class="card-header">Sign Up</div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onRegister(f.value)">
          <h5 class="text-danger" *ngIf="isError">Something went wrong</h5>
          <div class="form-group">
            <label class="control-label">Name</label>
            <input type="text" name="name" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label class="control-label">Email</label>
            <input type="email" name="email" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label class="control-label">Phone Number</label>
            <input type="text" name="phoneNumber" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label class="control-label">Address</label>
            <input type="text" name="address" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" name="password" class="form-control" ngModel />
          </div>
          <div class="form-group">
            <label class="control-label">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" ngModel />
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
