<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">Categories</div>
      <div class="card-body">
        <div class="list-group">
          <a (click)="getBooks('All')" class="list-group-item list-group-item-action clickable">All</a>
          <a (click)="getBooks('Fantasy')" class="list-group-item list-group-item-action clickable">Fantasy</a>
          <a (click)="getBooks('Science Fiction')" class="list-group-item list-group-item-action clickable">Science Fiction</a>
          <a (click)="getBooks('Adventure')" class="list-group-item list-group-item-action clickable">Adventure</a>
          <a (click)="getBooks('Romance')" class="list-group-item list-group-item-action clickable">Romance</a>
          <a (click)="getBooks('Horror')" class="list-group-item list-group-item-action clickable">Horror</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card" *ngIf="componentMode == 'all-books-mode'">
      <br/>
      <div class="container">
        <form #f="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="onSearchBook(f.value)">
          <input class="form-control mr-sm-2" type="search" name="key" placeholder="Search" aria-label="Search" ngModel>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div><br/>
      <div class="row-cols-3">
        <div class="container" *ngFor="let book of listBooks.content">
          <div class="card">
            <h5 class="card-header">{{book.title}}</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2">
                  <img src="http://localhost:8080/api/visitor/downloadImageOfBook?bookId={{book.id}}" alt="image">
                </div>
                <div class="col-sm-8">
                  <h5 class="card-title">{{book.writer}}</h5>
                  <p class="card-text text-success" *ngIf="!book.soldOut">Available</p>
                  <p class="card-text text-danger" *ngIf="book.soldOut">Not Available</p>
                  <h5 class="card-title text-warning">${{book.price}}</h5>
                  <button type="button" class="btn btn-info" (click)="moreInfo(book)">More Info</button>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="getAdjacentPage(-1)">Previous</a>
        </li>
        <li [ngClass]="currentPage == i?'page-item active':'page-item'" *ngFor="let p of pages;let i = index">
          <a (click)="getBooksPage(i)" class="page-link" >{{i + 1}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="getAdjacentPage(1)">Next</a>
        </li>
      </ul>
    </div>
    <div class="card" *ngIf="componentMode == 'one-book-mode'">
      <br/>
      <div class="row-cols-3">
        <div class="container">
          <button type="button" class="btn btn-warning" (click)="allBooks()"><</button>
          <div class="card">
            <h5 class="card-header">{{currentBook.title}}</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-2">
                  <img src="http://localhost:8080/api/visitor/downloadImageOfBook?bookId={{currentBook.id}}" alt="image">
                </div>
                <div class="col-sm-8">
                  <h5 class="card-title">{{currentBook.writer}}</h5>
                  <p class="card-text">{{currentBook.description}}</p>
                  <h6 class="card-subtitle mb-2 text-muted">Seller Name</h6>
                  <p class="card-text">{{currentBook.seller.name}}</p>
                  <h6 class="card-subtitle mb-2 text-muted">Seller Phone Number</h6>
                  <p class="card-text">{{currentBook.seller.phoneNumber}}</p>
                  <h6 class="card-subtitle mb-2 text-muted">Seller Email</h6>
                  <p class="card-text">{{currentBook.seller.email}}</p>
                  <h5 class="card-title text-danger">${{currentBook.price}}</h5>
                </div>
              </div>
            </div>
          </div>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
