<div class="container">
  <!--<div class="col-sm-3">
    <div class="card">
      <div class="card-header">Categories</div>
      <div class="card-body">
        <div class="list-group">
          <a (click)="getBooks('All')" class="list-group-item list-group-item-action">All</a>
          <a (click)="getBooks('Fantasy')" class="list-group-item list-group-item-action">Fantasy</a>
          <a (click)="getBooks('Science Fiction')" class="list-group-item list-group-item-action">Science Fiction</a>
          <a (click)="getBooks('Adventure')" class="list-group-item list-group-item-action">Adventure</a>
          <a (click)="getBooks('Romance')" class="list-group-item list-group-item-action">Romance</a>
          <a (click)="getBooks('Horror')" class="list-group-item list-group-item-action">Horror</a>
        </div><br/>
        <button (click)="onAddNewBook()" class="btn btn-success">Add New Book</button>
      </div>
    </div>
  </div>-->
  <div class="container">
    <h2 *ngIf="componentMode == 'all-books-mode' && listBooks">All My Books</h2>
  </div>
  <div class="card" *ngIf="componentMode == 'all-books-mode' && listBooks">
    <br/>
    <div class="container">
      <button type="button" class="btn btn-success" (click)="onAddNewBook()">Add New Book</button><br/><br/>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Year</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Available</th>
          <th scope="col">More Info</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of listBooks.content">
          <th scope="row">{{book.id}}</th>
          <td>{{book.title}}</td>
          <td>{{book.writer}}</td>
          <td>{{book.year}}</td>
          <td>{{book.category}}</td>
          <td>${{book.price}}</td>
          <td [ngClass]="book.soldOut?'text-danger': 'text-success'">{{book.soldOut?'No':'Yes'}}</td>
          <td><button class="btn btn-warning" (click)="moreInfo(book)">i</button></td>
        </tr>
        </tbody>
      </table><br/>
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="getAdjacentPage(-1)">Previous</a>
        </li>
        <li [ngClass]="currentPage == i?'page-item active':'page-item'" *ngFor="let p of pages;let i = index">
          <a (click)="getBooksPage(i)" class="page-link" >{{i + 1}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="getAdjacentPage(1)">Next</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card" *ngIf="componentMode == 'one-book-mode'">
    <br/>
    <div class="row-cols-3">
      <div class="container">
        <button type="button" class="btn btn-warning" (click)="allBooks()"><</button><br/><br/>
        <div class="card">
          <h5 class="card-header">{{currentBook.title}}</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <img src="http://localhost:8080/api/visitor/downloadImageOfBook?bookId={{currentBook.id}}" alt="image">
              </div>
              <div class="col-sm-8">
                <h5 class="card-title">{{currentBook.writer}}</h5>
                <p class="card-text">{{currentBook.description}}</p>
                <h6 class="card-subtitle mb-2 text-muted">Price</h6>
                <h5 class="card-title text-danger">${{currentBook.price}}</h5>
                <button type="button" class="btn btn-warning" (click)="onEdit()">Edit</button><span>&nbsp;</span>
                <button type="button" class="btn btn-danger" (click)="onDeleteBook()">Delete Book</button>
                <br/><br/>
                <div *ngIf="modifyMode">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" [checked]="!currentBook.soldOut"
                    (click)="onChangeAvailability()">
                    <label class="form-check-label" for="exampleCheck1">Available</label>
                  </div><br/>
                  <h6 class="card-subtitle mb-2 text-muted">Change Book Image</h6>
                  <input type="file" id="file" (change)="onChangeImage($event.target.files)"><span>&nbsp;</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="componentMode == 'add-new-book-mode'">
    <div class="container">
      <div class="container login-container">
        <button class="btn btn-warning" (click)="allBooks()"><</button><br/>
        <h2>Add New Book</h2>
        <div class="card">
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSubmitBook(f.value)">
              <div class="form-group">
                <label class="control-label">Title</label>
                <input type="text" name="title" class="form-control" ngModel />
              </div>
              <div class="form-group">
                <label class="control-label">Author</label>
                <input type="text" name="writer" class="form-control" ngModel />
              </div>
              <div class="form-group">
                <label class="control-label">Year</label>
                <input type="text" name="year" class="form-control" ngModel />
              </div>
              <div class="form-group">
                <label class="control-label">Price</label>
                <input type="text" name="price" class="form-control" ngModel />
              </div>
              <div class="form-group">
                <label class="control-label">Description</label>
                <textarea type="text" name="description" class="form-control" ngModel ></textarea>
              </div>
              <div class="form-group">
                <label class="control-label">Category</label>
                <select class="form-control" name="category" ngModel>
                  <option>Fantasy</option>
                  <option>Science Fiction</option>
                  <option>Adventure</option>
                  <option>Romance</option>
                  <option>Horror</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Save Book</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
