<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand blueish" href="#">Book App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/books" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/myBooks" routerLinkActive="active" *ngIf="isAuthenticated()">MyBooks</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login', 'signin']" routerLinkActive="active" *ngIf="!isAuthenticated()">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login', 'signup']" routerLinkActive="active" *ngIf="!isAuthenticated()">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link clickable" (click)="onLogOut()" *ngIf="isAuthenticated()">Logout({{authName()}})</a>
      </li>
    </ul>
  </div>
</nav><br/>

<router-outlet></router-outlet>
